@import url("https://fonts.googleleapis.com/css?family=Popins:300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleleapis.com/css2?family=Rancho&display:300,400,500,600,700,800,900&display=swap");

:root {
  --corBotao: #094b65;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

#header .logo {
  color: var(--corBotao);
  font-weight: 700;
  font-size: 2vw;
  text-decoration: none;
}

#header,
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#header,
ul,
li {
  list-style: none;
}
header,
ul,
li,
a {
  text-decoration: none;
  padding: 6px 15px;
  color: var(--corBotao);
  border-radius: 20px;
}

#header > ul li a:hover,
#header > ul li a.actvive {
  background: #094b65;
  color: #fff;
}

#scene {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#scene #text {
  position: absolute;
  transform: translateY(100%);
  color: var(--corBotao);
  font-family: "Rancho", cursive;
  font-size: 10vw;
  white-space: no-wrap;
  text-align: center;
}

#scene img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.sec {
  position: relative;
  padding: 100px;
  background: #131e1e;
}

.sec h2 {
  font-size: 3.5em;
  color: #fff;
}

.sec p {
  color: #fff;
  font-size: 1.1em;
}
